[req]
distinguished_name=req_distinguished_name
req_extensions=v3_req
prompt=no

[req_distinguished_name]
C=TR
ST=Ankara
L=Ankara
O=NovaSafer Tech. Inc.
OU=Backend
CN=35.198.64.68

[v3_req]
subjectAltName=@alt_names

[alt_names]
IP.1=35.198.64.68
DNS.1=35.198.64.68
DNS.2=localhost
